body, html {
    background-color: #1c1b22;
    padding: 0;
    margin: 0;

    color: white;
}

body::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}

p {
    font-size: .7vh .7vw;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    width: 100%;

    margin-top: 3vh;
}

.container .text-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    width: 90%;

    font-size: 1.8vh;
    line-height: 0;

    align-items: center;
    margin-bottom: 3vh;
}

.container .Typewriter__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;

    align-items: center;
}

.container .Typewriter__cursor {
    animation: none;
    margin: 0;
}

.navbar {
    width: 97%;
    height: 50px;

    margin-left: auto;
    margin-right: auto;

    border-right: none;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #4c4d4f;

    box-sizing: border-box;

    justify-content: space-between;
    align-items: center;
}

.navbar .left {
    display: flex;
    float: left;
    margin-right: auto;
    font-size: 1.2vh;
}

.navbar .right {
    display: flex;
    float: left;
    margin-left: auto;
    font-size: 1.7vh;
}

.navbar-item * {
    font-weight: 400;
    font-size: 1.15em;
    margin: 0 2vh 0 2vh;

    text-decoration: none;
    color: white;

    transition: all 300ms;
}

.navbar-item:not(.hamburger) *:hover {
    box-shadow: inset 0px -2px 0px #409eff;
    color: #409eff;
}


.navbar .hamburger-items {
    display: none;
}

.custom-button {
    all: unset;
    margin-top: 3vh;
    padding: 2vh 7vh 2vh 7vh;
    background-color: #0072D6;
    border: 1px solid #0072D6;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    border-radius: 1vh;

    cursor: pointer;

    font-size: 1.6vh;
    font-weight: 600;
    color: white;

    transition: all 500ms;
}

.custom-button:hover {
    background-color: transparent;
    border: 1px solid #409eff;
    transform: translateY(-3px);
}

.typer {
    margin-top: 1vh;
}

.highlightedText {
    color: #409eff;
    text-shadow: 1px 2px 9px rgba(64, 158, 255, 0.85);
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 50vh) {
    .navbar .right {
        display: none;
    }

    .collapsible {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .navbar .hamburger-items {
        padding-top: 120px;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
    }

    .container .text-container {
        font-size: 1.5vh;
    }
}